@font-face {
  font-family: myFirstFont;
  src: url("./spotify.otf");
}

* {
  font-family: myFirstFont, monospace;
  lost-utility: clearfix;
}

body {
  margin: 0;
  background-color: black
}


.teste path {
  fill: black
}
