@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: black;
}

.base{
    position: fixed !important;
}

.container{
    height: calc( 100vh - 64px );
    background-color: black;
    overflow:auto;
    padding-left:10vw;
    padding-right:10vw;

}

.button {
    height: 48px;
    width: 48px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    height: 30vh;
}

.svg{
    height:20vh;
    width: 40vw;
}
h2{color:white;}