.ButtonStyle {
  height: 150px;
  width: 500px;
  align-self: center;
  background-color: blue
}

.ButtonStyle:hover {
  background-color: #6AE368
}

.ContainerStyle {
  display: flex;
  height: 90vh;
  justify-content: center
}

.logo {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/spotify_logo.png')
}

.textStyle {
  align-self: center;
  position: absolute;
  font-size: 27px;
  color: black
}

.flex {
  display: flex;
  height: 100px
}