.container {
    height: calc( 100vh - 64px );
    background-color: whitesmoke;
    overflow:auto;
    margin-left:10px;

    margin-right:10px;
}

table {
    border-collapse: separate;
    border-spacing: 20px 20px;
}

.buttonIcon {
    width: 20px
}
.button {
    width: 70vw
}
.flex {
    display:flex;
    align-items: center;
    justify-content:center;
}
