.dashboard {
  margin: calc(64px + 2.5vw) auto;
  max-width: 95%;
  width: 95vw;
  overflow-x: hidden;
}

.bar {
  height: 64px;
}

.back {
  background-image: url("../../login/css/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
}


.fill path {
  fill: black
}
