@import "../../../shared/css/var/var.css";

@media (--big-viewport) {
    .container{
	padding-left:15vw;
	padding-right:15vw;
    }
}

.pad{
    padding-left: 5vw;
    padding-right:5vw;
}
.flex{
    display:flex;
    align-items: center;
    justify-content: center;
}
.feature {
    background-color: black;
    width: calc(100% )
}
.select {
    width: 80% !important;
    max-width: 80% !important;
}
.grey{
    fill: grey !important; 
}
.selectButton {
    span {
	color: black !important;
    }
    width: 20% !important;
    max-width: 20% !important;
}
a {color: whitesmoke;}
.menu{
    background-color: black;
}