@import "../../../shared/css/var/var.css";

.test{
    height: calc( 100vh - 64px );
    background-color: whitesmoke;
    overflow:auto;
    padding-left:10vw;
    padding-right:10vw;
}

.flex{
    display:flex;
    align-items: center;
}
.feature {
    background-color: whitesmoke;
    width: calc(100% )
}