@import "../../../shared/css/var/var.css";

.test{
    height: calc( 100vh - 64px );
    background-color: whitesmoke;
    overflow:auto;
    padding-left:10vw;
    padding-right:10vw;
}

.flex{
    display:flex;
    align-items: center;
    justify-content: center;
}
.feature {
    background-color: whitesmoke;
    width: calc(100% )
}
.select {
    width: 80% !important;
}
.grey{
    fill: grey !important; 
}
.selectButton {
    width: 20% !important;
}