.container {
    height: calc( 100vh - 64px );
    background-color: black;
    overflow:auto;
    margin-left:10px;

    margin-right:10px;


}

.flex {
    display:flex;
    align-items: center;
    justify-content:center;
}

.button {
    height: 30vw !important;
    width: 30vw !important;
}

.buttonIcon {
    height: 25vw;
    width: 25vw;
}


.whitey {
    color: white;
}