$margin: 20px;
$buttonH: 150px;
$buttonW: 50%;
$util: calc( 100vh - 64px );
$mainButton: calc( ( $util * 0.2 ) );
$hateH: calc( ( $util * 0.8 ) );
$innerButtonH: calc( $buttonH - ( 2 * 5px ) ) ;

.container {
    height: ;
    background-color: black;
    height: $util;
    .dashboard {
	padding: $margin;
	height: $mainButton;
	div {
	    height: 100% !important; 
	    button {
		height: 100% !important; 
	    }
	}
    }
    .hate {
	padding: $margin;
	flex-flow: row wrap;
	overflow: auto;
	display: flex;
	justify-content: space-between;   
	flex-direction: column;
	max-height: $hateH;
	div {
	    align-self: flex-end;
	    flex: 1;
	    width: calc( $buttonW );
	    padding: 5px;
	    height: $buttonH;
	    button {
		height: $innerButtonH !important;
	    }
	} }
}



