@lost gutter 0px;

.container{
  padding: 5px;
  lost-utility: clearfix;
  lost-masonry-wrap: no-flex;


  /*padding: 10px;*/
}


.button {
  width: 100%!important;
  margin: 0;
  height: auto;
  padding: 0;
  lost-column: 1/2;
  color: white;
  background-color: black;
}

.item{
  padding: 5px;

  lost-masonry-column: 1/2;
}
