@lost gutter 0px;

.controls {
  /*display: flex;*/
  padding: 5px;
  lost-utility: clearfix;
  lost-masonry-wrap: no-flex;
}

.button {
  height: 60px;
  width: 100% !important;
  margin-bottom: 10px;
  color: white;
}
