.login {
  background-image: url("./back.jpg");
  margin-top: 64px;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
