.container{
    height: calc( 100vh - 64px - 48px );
    .content{
	height: calc( 100vh - 64px - 48px - 48px);
	display: flex;
	justify-content: center;
	align-items: center;
	.image{
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    img{
		border-radius: 30%;
	    }
	}
	.data{
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}
    }
}

h4{
    color:white;
    margin: 0.5em;
}
