@font-face {
  font-family: myFirstFont;
  src: url("./spotify.otf");
}

* {
  font-family: myFirstFont, monospace;
  lost-utility: clearfix;
}

body {
  margin: 0;
  background-color: whitesmoke
}
#container {
  height: 100vh;
  width: 100vw;
}

